<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Event</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>
<body>
<!-- Include Navbar -->
<header th:replace="~{fragments/navbar :: navbar}"></header>


<div class="form-container">
    <form th:action="@{/event/create}" th:object="${event}" method="post">

        <h1>Create Event</h1>

        <p th:if="${error}" th:text="${error}" style="color:red;"></p>

        <label for="eventTitle">Event Title:</label>
        <input id="eventTitle" type="text" th:field="*{eventTitle}" />

        <label for="clubId">Club:</label>
        <select id="clubId" name="club.clubId" required>
            <option value="">-- Select a Club --</option>
            <option th:each="club : ${clubList}"
                    th:value="${club.clubId}"
                    th:text="${club.clubName}">
            </option>
        </select>
        
        <fieldset>
            <legend>Event Type</legend>
            <label><input type="radio" th:field="*{eventTag}" value="meet_and_greet" /> General Meet and Greet</label>
            <label><input type="radio" th:field="*{eventTag}" value="workshop" /> Workshop</label>
            <label><input type="radio" th:field="*{eventTag}" value="social" /> Social Gathering</label>
            <label><input type="radio" th:field="*{eventTag}" value="guest_lecture" /> Guest Lecture</label>
            <label><input type="radio" th:field="*{eventTag}" value="fundraiser" /> Fundraiser</label>
            <label><input type="radio" th:field="*{eventTag}" value="competition" /> Competition</label>
        </fieldset>

        <label for="eventDate">Date:</label>
        <input id="eventDate" type="date" th:field="*{eventDate}" />

        <label for="location">Location:</label>
        <input id="location" type="text" th:field="*{location}" />

        <label for="price">Price:</label>
        <input id="price" type="text" th:field="*{price}" />

        <label for="eventDes">Event Description:</label>
        <textarea id="eventDes" th:field="*{eventDes}" rows="5"></textarea>

        <div style="text-align: center;">
            <button type="submit">Create Event</button>
        </div>

    </form>
    </div>

    <div class="other-content">  
    </div>

    <script th:src="@{/js/submitForm.js}"></script>
    <script>
        attachForms([
            { formId: 'createEventForm', successUrl: '/event/all', fallbackUrl: '/dashboard' }
        ]);
    </script>

</body>
</html>
