<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organiser Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
    <!-- Include Navbar -->
    <header th:replace="~{fragments/navbar :: navbar}"></header>

    <main>
        <h1>Organiser Dashboard</h1>

        <div class="dashboard-buttons">
            <button onclick="window.location.href='/event/all'">Manage My Events</button>
            <button onclick="window.location.href='/club/all'">Manage My Clubs</button>
        </div>
    </main>
    
</body>
</html>